.main {
  display: flex;
  flex-direction: column;
  height: 330px;
  width: 100%;
  margin: 10px auto 5px;

  .heading {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2.2px;
    color: #fff;
    text-align: center;
  }

  .list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 300px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
  }
}