.card {
  width: 80%;
  height: 80%;
  position: relative;
  // background-color: #fff;
  background: linear-gradient(90deg, #99f, #FFC0CB);
  border-radius: 18px;
  transition: 0.3s linear;

  &:hover {
    transform: scale(1.1);
  }

  @media screen and (max-width: 600px) {
    width: 98vw;
    height: 98vh;

    &:hover {
      transform: scale(1.01);
    }
  }
}